/* 공통 */
#app {
  width: 100%;
}
.page_inner {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding: 0 1.5rem;
  box-sizing: border-box;
}

#about, #portfolio {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-top: 2rem;
}

#about .page_inner,
#portfolio .page_inner {
    flex-direction: column;
    gap: 4rem;
}
